@import '@/styles/_base.scss';

.wrapper {
  background: $WHITE;
  color: $WHITE;

  .bg {
    background-image: url('/images/oceanFreight/bgOcean.jpg');
    background-size: 100% 100%;
    width: 100%;
    .welcome {
      width: 100%;
      min-height: 300px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      .container {
        max-width: 1200px;
        width: 100%;
        max-height: 300px;
        padding: 92px 32px;
        .textCol {
          width: 100%;
          h1 {
            font-weight: 800;
            font-size: 64px;
            line-height: 60px;
            letter-spacing: 0.05em;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          }
          .desc {
            font-size: 22px;
            font-weight: 600;
            line-height: 22px;
            letter-spacing: 0.02em;
            margin-bottom: 32px;
          }
        }
      }
    }
  }
  .checkPrice {
    background: #0c529e url('./assets/bg.jpg') center center;
    padding: 16px;
    .content {
      width: 100%;
      .header {
        position: relative;
        height: 55px;
        width: 60%;
        background: $WHITE;
        z-index: 2;
        top: 20px;
        padding: 8px 8px 16px 8px;
        border-radius: 12px;

        .contentHeader {
          height: 56px;
          background: $BG_OUTSIDE_BTN;
          z-index: 3;
          border-radius: 8px;
          .step {
            width: 100%;
            margin: 0 8px;
            height: 40px;
            border-radius: 8px;
            .no {
              width: 30px;
              height: 30px;
              background: $DISABLED;
              border-radius: 50%;
            }
            .contentStep {
              width: 60%;
              color: $DISABLED;
              text-align: center;
              font-weight: 600;
            }
          }
        }
      }
      .step5 {
        background: $WHITE;
        color: $WHITE;
        width: 100%;
        border-radius: 12px;

        :global {
          .ant-card-head {
            background-color: #e7eeff;
            border: 1px solid;
            .ant-card-head-title {
              color: $GREY_COLOR_HOVER;
              font-weight: 700;
              font-size: 22px;
            }
          }
          .ant-card-body {
            border: 1px solid;
          }
        }
        .container {
          padding: 16px;
          .cardMain {
            .cardCustomer {
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            }
          }
        }
      }
    }
  }
}
