@import '@/styles/_base.scss';

.wrapper {
  background: $BG_SECONDARY;
  color: $WHITE;
  
  .heroCover {
    max-height: 800px;
    width: 100%;
    background: #0c529e url('./assets/bg.jpg') center center no-repeat;
    background-size: 100% auto;
    background-position: center 20%;
    background-attachment: fixed;

    .container {
      max-height: 800px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .textCol {
        z-index: 2;
        overflow: visible;
        padding: 60px 0;

        h2 {
          font-weight: 600;
          font-size: 22px;
          line-height: 30px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          margin: 0;
        }
        .desc {
          margin-top: 16px;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.02em;
        }
        .comingSoon {
          margin-top: 20px;
          font-style: italic;
          font-weight: 300;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.02em;
        }
      }

      .imgCol {
        height: 100%;
        display: flex;
        z-index: 1;

        img {
          display: block;
          aspect-ratio: 704/611;
          width: 500px;
          max-width: 100%;
          height: auto;
          margin-top: auto;
          right: 0;
          overflow-anchor: right;
        }
      }
    }
  }
}

@media (min-width: 1170px) {
  .wrapper {
    .heroCover {
      aspect-ratio: 1920 / 800;
      overflow: hidden;
      background-position: center top;

      .container {
        flex-direction: row;

        .textCol {
          h2 {
            font-weight: 600;
            font-size: 64px;
            line-height: 72px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin: 0;
            white-space: nowrap;
          }
          .desc {
            margin-top: 16px;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 0.02em;
          }
          .comingSoon {
            margin-top: 48px;
            font-size: 32px;
            line-height: 48px;
            letter-spacing: 0.02em;
          }
        }

        .imgCol {
          direction: rtl;
          img {
            max-width: 150%;
            max-height: 80%;
            width: 704px;
          }
        }
      }
    }
  }
}
