$xs: '0';
$sm: '576px';
$md: '768px';
$lg: '1024px';
$xl: '1170px';
$xxl: '1400px';

@mixin mobile-device {
  @media screen and (max-width: $xl) {
    @content;
  }
}

@mixin desktop-device {
  @media screen and (min-width: $xl) {
    @content;
  }
}

@mixin respond($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
