@import '@/styles/_base.scss';

.wrapper {
  background: $WHITE;
  color: $WHITE;

  .oceanFreight {
    aspect-ratio: 1920 / 488;
    height: auto;
    width: 100%;
    background: #fff url('./assets/Ocean.png') center center no-repeat;
    background-size: cover;
    margin: 0px !important;
  }
  .option {
    background: #0c529e url('./assets/bg.jpg') center center ;
    .header {
      color: $WHITE;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 24px;
      font-weight: 700;
      line-height: normal;
      font-family: Inter;
      margin: 18px 0px;
      text-align: center;
    }
    .card {
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      margin-bottom: 32px;

      .description {
        .description_1 {
          position: relative;
          margin-bottom: 12px;
          .box {
            position: absolute;
            width: 250px;
            height: 60px;
            background-color: $GREY_BACKGROUND;
            color: #000;
            font-size: 32px;
            font-style: normal;
            font-weight: 550;
            line-height: normal;
            top: -100px;
            left: -24px;
          }
        }
      }

      .btn {
        background: $RED;
        color: $WHITE;
        width: 170px;
        height: 40px;
      }
    }
  }
}

@media (min-width: 1170px) {
  .wrapper {
    .oceanFreight {
      aspect-ratio: 1920 / 488;
      width: 100%;
      height: auto;
      overflow: hidden;
      background-position: center top;
      margin-bottom: 8px;
    }
    .option {
      .header {
        // color: $GREY_COLOR_HOVER;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 42px;
      }
      .card {
        .description {
          height: 100px;
        }
      }
    }
  }
}
