@import '@/styles/_base.scss';

.section {
  padding: 96px 0;
  color: $WHITE;
  text-align: center;
  background: linear-gradient(0, #040B17 0%, #0d2347 100%);
  background-size: cover;

  .container {
    max-width: 1424px;
    margin: 0 auto;
    padding: 16px;
  }

  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 68px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
  }

  .desc {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin: 0 auto 90px;
    max-width: 440px;
  }

  .planCol {
    padding: 16px 0;
  }

  .plan {
    height: 100%;
    background: $RICH_BLACK;
    border: 1px solid #172640;
    border-radius: 4px;
    padding: 0 16px;

    .bestBadge {
      border-radius: 12px;
      color: $JADE_WHITE;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      padding: 5px 10px;
      background: $PRIMARY_DARK;
      display: inline-block;
      transform: translateY(-50%);
    }

    .innear {
      max-width: 320px;
      margin: 0 auto;
      padding-bottom: 40px;
    }
    .name {
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      margin-top: 68px;
    }

    .price {
      font-weight: 500;
      font-size: 48px;
      line-height: 72px;
      color: $PRIMARY_DARK;
      margin-top: 16px;

      span {
        font-size: 18px;
        line-height: 27px;
        color: $WHITE;
      }
    }

    .btn {
      margin-top: 12px;
      height: 72px;
      width: 100%;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: $PRIMARY_DARK;
      background: $WHITE;
      box-shadow: 16px 20px 40px rgba(24, 52, 94, 0.5);
      &:hover {
        box-shadow: 16px 20px 40px rgba($color: $WHITE, $alpha: 0.5);
      }
      &:active {
        box-shadow: 16px -20px 40px rgba($color: $WHITE, $alpha: 0.5);
      }
    }

    .featTitle {
      margin: 48px 0 20px;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      text-align: left;
    }

    ul {
      text-align: left;
      padding-left: 15px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      li {
        margin-top: 20px;
      }
    }
  }
  .best {
    border: 1px solid $PRIMARY_DARK;

    .name {
      margin-top: 38px;
    }

    .btn {
      color: $WHITE;
      background: $PRIMARY_DARK;
      box-shadow: 16px 20px 40px rgba(24, 52, 94, 0.5);
      &:hover {
        box-shadow: 16px 20px 40px rgba($color: $PRIMARY_DARK, $alpha: 0.5);
      }
      &:active {
        box-shadow: 16px -20px 40px rgba($color: $PRIMARY_DARK, $alpha: 0.5);
      }
    }
  }
}

@include desktop-device {
  .section {
    padding: 80px 0 108px;
    background-size: 100% auto;

    .title {
      font-size: 64px;
      line-height: 96px;
    }

    .planCol {
      padding: 0;
    }
    .plan {
      margin-left: 0;
      margin-right: 0;

      &.best {
        margin-top: -30px;
        height: calc(100% + 60px);
      }
    }
  }
}
