@import '@/styles/_base.scss';

.appFooterWrapper {
  background: #020509;
  padding: 0;

  .appFooter {
    aspect-ratio: 1920 / 378;
    height: auto;
    width: 100%;
    background: #fff url('./assets/bg.png') center center no-repeat;
    background-size: cover;
  }
  .moreInfo {
    background: $PRIMARY_DARK;

    .container {
      aspect-ratio: 1920 / 61;
      height: auto;
      width: 100%;
      background: #fff url('./assets/bg-copy-right.png') center center no-repeat;
      background-size: cover;
    }
  }
}

@include desktop-device {
  .appFooterWrapper {
    .appFooter {
      aspect-ratio: 1920 / 378;
      width: 100%;
      height: auto; 
      overflow: hidden;
      background-position: center top;
    }
    .moreInfo {
      .container {
        aspect-ratio: 1920 / 61;
        width: 100%;
        height: auto; 
        overflow: hidden;
        background-position: center top;
      }
    }
  }
}
