@import '@/styles/_base.scss';

.cover {
  .dFlex {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  p {
    margin-bottom: unset !important;
  }

  .appFooterWrapper {
    .top {
      padding: 20px 0;

      .over {
        margin-bottom: 30px;

        .headerItem {
          color: $GREY_COLOR_HOVER;
          font-size: 36px;
          font-weight: 700;
          font-family: Inika;
          margin-bottom: 25px;
        }

        .item {
          color: $GREY_COLOR_HOVER;
          font-size: 18px;
          font-weight: 400;
          font-family: Inika;
          margin-bottom: 15px;
          cursor: pointer;
          transition: all 0.5s;

          &:hover {
            margin-left: 5px;
          }

          a {
            justify-content: flex-start;
            &:hover {
              color: $GREY_COLOR_HOVER;
            }
          }
        }
      }

      .map {
        iframe {
          border: none;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $GREY_COLOR_HOVER;
    width: 100%;
    p {
      font-size: 15px;
      font-weight: 600;
      color: $WHITE;
      text-align: center;
      padding: 10px 0;
    }
  }
}
